body {
    background-color:  #f9f9f9;
    }
.title-container{
    background: #3a5461;
    height: 92px;
}
h2{
    font-family: "Kanit", sans-serif;
font-style: italic;
font-weight: 300;
font-size: 24px;
color: #f9f9f9;
}
@media only screen and (min-width: 1439px) {
    .title-container{
        width: 273px;
        height: 524px;
    } 
}