@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');
@import url('./container.css');
.cookies-title-container{
  background: #3a5461;
  height: 92px;
  margin-top: 85px;
}
.background{

  background-color: #F0F0F0;
}
.button-cookies{
  position: absolute;
  top: 32px;
  display: flex;
  align-items: center;
  font-family: "kanit", sans-serif;
font-weight: 300;
font-size: 14px;
line-height: 1.2;
color: #201f24;
border: none;
background-color: inherit;
}
.cookies-title{
  font-family: "Racing Sans One" sans-serif;
font-weight: 400;
font-size: 28px;
line-height: 150%;
text-align: center;
color: #f9f9f9;
margin-top: -95px;
}
.cookies-rules-text{
  font-family: "kanit" sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #0d0d0d;
margin-top: 40px;
}
.cookies-subtitle{
  font-family: "kanit" sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
color: #0d0d0d;
margin-top: 25px;
margin-bottom: 16px;
}
.cookies-rules-title{
  font-family: "kanit" sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 130%;
color: #0d0d0d;
margin-top: 25px;
margin-bottom: 16px;
}
.cookies-text{
  font-family: "kanit" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #0d0d0d;
}
.cookies-list{
  font-family: "kanit" sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0d0d0d;
  list-style-type: disc;
  padding-left: 20px;
}
.cookies-link{
  text-decoration: underline;
}
.break-url{
  word-break: break-all;
}
.footer-container{
  padding: 40px 87px;
}
@media only screen and (min-width:1439px) {
  .cookies-container{
    padding-left: 189px;
    padding-right: 189px;
      }
      .cookies-title{
font-weight: 400;
font-size: 40px;
margin-top: -140px;
      }
      .footer-container{
        padding: 40px 420px;
      }
  
    }